# Section 1 : List Basics

In [4]:
# Input several numbers from the user using the input function in one go (each number separated by a space)
string = input("Enter elements (seprated by commas): ")
list_of_inputs = string.split(" ")

print(type(list_of_inputs))

print(list_of_inputs)

<class 'list'>
['5', '4', '8']

DATA STRUCTURES
-> LIST, SET ,TUPLE, DICTIONARY

In [5]:
for i in range(5):
    a=input("enter the input")
    list=[a]
    print(a)

5
4
8
9
5

In [15]:
# Make a list of marks that you got in Physics, Chemistry and Maths in your +2 board exam
# Write the marks manually without using the input function

marks=[98,95,99]

In [8]:
# Print the list

print(marks)

[98, 95, 99]

In [37]:
# Find the length of the list

print(len(marks))

3

In [16]:
# Print the first element of the list

print(marks[0])

98

In [16]:
# Print the last element of the list

print(marks[-1])
a=len(marks)-1
print(marks[a])

99
99

In [18]:
#  Print the second element of the list

print(marks[1])

95

In [17]:
# Change your marks for Chemistry and Maths in this list

marks[1]=100
marks[2]=100
print(marks)

[98, 100, 100]

# Section 2 : Simple List functions

In [18]:
# Append your marks for Hindi or English to this list
hindi=93
english=97
marks.append(english)                  # adding an input in the list later
marks.append(hindi)
print(marks)

[98, 100, 100, 97, 93]

In [19]:
# Create a blank list and append your marks for P, C, M and Language in +2 one by one to this list using the append function
# Once done, find the length of the list

P=98
C=95
M=99
L=97
list2=[]
list2.append(P)
list2.append(C)
list2.append(M)
list2.append(L)
print(list2)

[98, 95, 99, 97]

In [20]:
phy=89
chem=85
maths=93
hin=90
english=93
listmarks=[]
listmarks.append(phy)
listmarks.append(chem)
listmarks.append(maths)
listmarks.append(hin)
listmarks.append(english)
print(listmarks)

listsum=sum(listmarks)
listlen=len(listmarks)
percentagemarks=(listsum/500)*100
print(percentagemarks)

[89, 85, 93, 90, 93]
90.0

In [21]:
# METHOD 2
P2=input("enter marks in physics")
C2=input("enter marks in chemistry")
M2=input("enter marks in mathematics")
list3=[]
list3.append(P2)
print(list3)

['55']

In [22]:
# Create a new blank list and append your marks for Science, Math and Language in 10th class one by one to this list using the append function
# Once done, find the length of the list

Sci=99
Eng=97
Math=100
IP=100
list3=[]
list3.append(Sci)
list3.append(Eng)
list3.append(Math)
list3.append(IP)
print(list3)

[99, 97, 100, 100]

In [23]:
print(len(list3))

4

In [24]:
# Create a new blank list and add to it the marks for +2 and 10th class from the above lists using the extend function
list4=[]
list4.extend(marks)
list4.extend(list3)                      # append permanently adds the data ( means again and again) whereas extend add it temporarily (means only once)
print(list4)                              # thah's why we have to assign a variable

[98, 100, 100, 97, 93, 99, 97, 100, 100]

In [25]:
listt=[]
listt.append(marks)
print(listt)
print(len(listt))

[[98, 100, 100, 97, 93]]
1

In [26]:
list4=[]
list4.extend(marks)
list4.extend(list3)                      # append permanently adds the data ( means again and again) whereas extend add it temporarily (means only once)
print(list4)                              # thah's why we have to assign a variable

[98, 100, 100, 97, 93, 99, 97, 100, 100]

In [27]:
# Reverse the above list using the list_name.reverse() function
print(list4)
list4.reverse()               # make changes in original list
print(list4)

[98, 100, 100, 97, 93, 99, 97, 100, 100]
[100, 100, 97, 99, 93, 97, 100, 100, 98]

In [28]:
# Reverse the above (reversed) list using list(reversed(list_name)) function. So you should get back the original lis
list(reversed(list4))         # giving error
print(list4)

[100, 100, 97, 99, 93, 97, 100, 100, 98]

In [34]:
#method 2
print(marks[::])
print(marks[-1::-1])

[98, 100, 100, 97, 93]
[93, 97, 100, 100, 98]

In [115]:
type(marks)

list

In [132]:
# Remove the Maths marks from all the three lists using list_name.remove(element) function

if M in list2:                          # here M was variable assigned to marks in maths for list2
    print(list2)
else:
    print("marks of maths are not present in list2")

[98, 95, 99, 97]

In [ ]:
# Before trying to remove an element, better to check if its even there in the list or not

# already done above

# Section 3 : List Slicing

In [9]:
# From the list of all marks, print all the items from second marks onwards
yash=[1,4,4,5,6,9,7,4,2,3,9]
print(yash[1])

4

In [10]:
# From the list of all marks, print all the items from second marks up to the fourth marks

print(yash[1:4:])
print(yash[1:4:])

[4, 4, 5]
[4, 4, 5]

In [148]:
# From the list of all marks, print all the items from second marks up to the penultimate( 1 before last or ultimate) marks
print(list4)
print(list4[1:7:])
print(list4[1:len(list4)-1])

[98, 100, 100, 97, 99, 97, 100, 100]
[100, 100, 97, 99, 97, 100]
[100, 100, 97, 99, 97, 100]

In [139]:
# Print every element at the odd position in the list
print(list4)
print(list4[::2])

[98, 100, 100, 97, 99, 97, 100, 100]
[98, 100, 99, 100]

In [140]:
# Print every element at the even position in the list
print(list4[1::2])

[100, 97, 97, 100]

# Section 4 : Simple List computations

In [168]:
# Find the sum of all the marks in your list using the sum(list_name) function
print(sum(list4))
print(sum(list4[0:2]))

791
198

In [144]:
# Find the maximum of all the marks in your list using the max(list_name) function

print(max(list4))

100

In [149]:
# Find the minimum of all the marks in your list using the min(list_name) function

print(min(list4))

97

Find avg

In [169]:
head=sum(list4)
base=len(list4)
avg=head/base
print(avg)

98.875

# Section 5 : Create a List using the range() function

In [11]:
for i in range(12,23,3):
    print(i)

12
15
18
21

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# Create a list of integers using the list(range(n)) function, where n can be any integer within the limits of your computer
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
for j in range(15):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [2]:
# What does this function give : list(range(n1, n2))

print(list(range(12,34)))

[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [1]:
# What does this function give : list(range(n1, n2, n3))
print(list(range(2,17,2)))

[2, 4, 6, 8, 10, 12, 14, 16]

In [16]:
# Create a list of first 100 integers, and find their sum
a=list(range(0,101))
print(sum(a))

5050

In [19]:
# Create a list of first 100 integers, and find their average
a=list(range(1,101))
avg=sum(a)/len(a)
print(len(a))
print(avg)

100
50.5

In [24]:
# Create a list of even numbers in the range 1-100, and find their sum as well as average
b=list(range(2,101,2))
print(b)
print(sum(b))
avg2=sum(b)/len(b)
print(avg2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
2550
51.0

In [ ]:
# Create a list of odd numbers in the range 1-100, and find their sum as well as average

# canbe done easily like previous one

In [19]:
# Make a copy of your list and change the first element of this new list. See what happens to the original list

lista=[3,6,9,11]
listb=lista                       # this just assign lista a new name 
listb[0]=20
print(lista)
print(listb)
listc=lista.copy()                         # this creates a new list
listc[0]=44
print(listc)

[20, 6, 9, 11]
[20, 6, 9, 11]
[44, 6, 9, 11]

# Section 6 : DIY Exercises

In [25]:
# In a given list of numbers, swap the first and last element

l1=[32,2,12,65]
x=l1[0]
y=l1[-1]
l1[0]=y
l1[-1]=x
print(l1)

[65, 2, 12, 32]

FIND mistakes in following syntax

In [30]:
# method 2
l1.reverse()
l1[1:len(l1)-1].reverse()
print(l1)

[32, 12, 2, 65]

In [37]:
# In a given list of numbers, swap the second and fourth element
l2=[32,2,12,65]
x=l2[1]
y=l1[3]
l2[1]=y
l2[3]=x
print(l2)

[32, 65, 12, 2]

In [40]:
# Take a list of two numbers and arrange them in ascending order
l3=[23,12]
a=l3[0]
b=l3[1]
if l3[0]>l3[1]:
    l3[0]=b
    l3[1]=a
    print(l3)
else:
    print(l3)

[12, 23]

In [44]:
# method 2
l3.sort()                                #  function for ascending
print(l3)

[12, 23]

function for descending

In [23]:
# Create two lists : one having your 10th class board marks and another having your +2 board marks for each subject.
# Create another list that contains both these lists. So this new list will have 2 elements, both of which are lists.
list10=[75,68,83,92]
list12=[82,77,67,91]
listnew=[]
listnew.extend(list10)
listnew.extend(list12)
print(listnew)

[75, 68, 83, 92, 82, 77, 67, 91]

In [22]:
# In the above list of lists, print the marks in the 2nd element of the first list
print(listnew[0],listnew[1])

[75, 68, 83, 92] [82, 77, 67, 91]

In [ ]:
# Reference for further learning : https://www.geeksforgeeks.org/python-lists/

# Using loops : for and while

1. print first 10 integers

In [24]:
for i in range(1,10):
    print(i)
print("$$$$$")
for j in range(10):
    print(j+1)

1
2
3
4
5
6
7
8
9
$$$$$
1
2
3
4
5
6
7
8
9
10

2. print 1st 10 even integers using range(10)
3. print 1st 10 odd integers using range(10)

In [60]:
for x in range(10):
    print(2*x+2)
for y in range(10):
    print(2*y+1)

2
4
6
8
10
12
14
16
18
20
1
3
5
7
9
11
13
15
17
19

4. print 1st 10 positive powers of 2

In [26]:
for a in range(1,11):
    print(2**(a))

2
4
8
16
32
64
128
256
512
1024

calculating the length of the list using for loop

In [27]:
list1=[3,5,8,11,13]
len=0
for l in list1:
    len=len+1
    print(len)
print("$$$$")
print(len)

1
2
3
4
5
$$$$
5

In [75]:
listsum=[3,5,8,11,13]
sum=0
for l in listsum:
    sum=sum+l
    print(sum)
print("$$$$")
print(sum)

3
8
16
27
40
$$$$
40

Find sum & product of first 100 poasitive integers

In [31]:
sum100=0
pro100=1
for i in range(1,101):
    sum100=sum100+i
    pro100=pro100*i
print(sum100)
print(pro100)

5050
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

take an integer from user , checkif it is between 1-40, if yes out is its factorial
,
if no , say the number is out of range

In [35]:
p=int(input("enter a number"))
print("given number is",p)
pro1=1
if p>1 and p<40:
    for q in range(1,p+1):
        pro1=pro1*(q)
    print(pro1)  
else:
    print("given number does not lie in the desired range")

given number is 42
given number does not lie in the desired range